body {
    text-align: center;
    background-color: lightgray;
}

table {
    margin: auto;
}

h1 {
    color: coral;
}

.switch-light {
    background-color: rgb(97, 97, 97);
    font-size: 10px;
    padding: 8px 15px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    bottom: 410px;
    left: 150px;
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
    border: 2px solid gray   
}

.board td {
    width: 40px;
    height: 40px;
    text-align: center;
}


.safe {
    background-color: lightgoldenrodyellow;
}

.bomb {
    background-color: red;
}

.hidden {
    background-color: rgb(236, 236, 213);
}

.smiley {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
}

button {
    background-color: lightsalmon;
    font-size: 20px;
    padding: 20px 60px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
    border: 2px solid gray
}

.easy {
    background-color: lime;
}

.medium {
    background-color: rgb(205, 140, 0);
}

.hard {
    background-color: red;
}

button:hover {
    background-color: rgb(185, 67, 67);
    color: white;
}

.timer {
    color: lightsalmon;
    font-size: 30px;
    display: inline-block;
    position: relative;
    left: 300px;
    width: 50px;
    height: 40px;
}

.hint {
    color: rgb(161, 54, 11);
    display: block;
}

.hint1 {
    cursor: pointer;
}

.hint2 {
    cursor: pointer;
}

.hint3 {
    cursor: pointer;
}

.modal {
    opacity: 70%;
    background-color: lightsalmon;
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -336px;
    top: 90px;
    padding: 30px;
    border-radius: 25px;
}

.modal button {
    float: right;
}

.lives p {
    display: inline-block;
}

.lives {
    color: red;
}

.best-time {
    display: inline-block;
    background-color: rgb(97, 97, 97);
    border-radius: 5px;
    padding: 10px 30px;
    border: 2px solid gray   
}

.info {
    position: absolute;
    bottom: 227px;
    left: 50px;
    width: 300px;
}


.safe-Button {
    background-color: lightsalmon;
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
    border: 2px solid gray   
}